
h1{ 

    text-align: left;
    color: blue;
    background-color: black;
}

span{
    color: bisque;
}

h3{

    text-align: right;
color: blue;
background-color: aquamarine;
font-size: medium;
font-style: italic;
text-decoration: underline;

}

h2{

text-align: center;
color: black;
background-color: blueviolet;

]









